* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #d4cbcb;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main.container {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  border-radius: 15px;
  overflow: hidden;
  transition: all 1s ease;
}

/* Lado do Login */
.main-side-login {
  width: 35%;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

.main-side-login h1 {
  color: #b05cff;
  text-align: center;
}

.main-side-login p {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.login-form label {
  font-size: 14px;
  color: #ccc;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #2a2a2a;
  color: #fff;
}

.login-form button {
  background: linear-gradient(135deg, #b05cff, #6a00ff);
  border: none;
  border-radius: 5px;
  padding: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.login-form button:hover {
  background: linear-gradient(135deg, #6a00ff, #b05cff);
  transform: scale(1.05);
}

.register-link {
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #b05cff;
  text-decoration: none;
}

/* Lado da Imagem */
.main-side-img {
  width: 50%;
  background: rgb(190, 181, 181);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

}

.side-img-h2 {
  color: #1a1a1a;
  text-align: center;
  background-color: #6a00ff;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.side-img-h2:hover {
  transform: scale(1.05);
}

/* Efeito invertido */
.container.reverse .main-side-login {
  order: 2;
}

.container.reverse .main-side-img {
  order: 1;
}

/* Transição suave */
.container.reverse {
  transform: scale(1.01);
}
