* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #d4cbcb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    width: 80%;
    height: 100vh;
    max-width: 900px;
    background: #1a1a1a;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.3);
  }
  
  .main-side-login {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .main-side-login h1 {
    color: #b05cff;
    margin-bottom: 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form label {
    font-size: 14px;
    color: #ccc;
  }
  
  .login-form input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #2a2a2a;
    color: #fff;
  }
  
  .login-form button {
    background: linear-gradient(135deg, #b05cff, #6a00ff);
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-form button:hover {
    background: linear-gradient(135deg, #6a00ff, #b05cff);
    transform: scale(1.05);
  }
  
  .main-side-img {
    flex: 1;
    background: #111;
    height: 100vh;
  }
  
  .main-side-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .register-link {
    font-size: 14px;
    text-align: center;
  }
  
  .register-link a {
    color: #b05cff;
    text-decoration: none;
  }
  